@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Work Sans", sans-serif;
}

html{
     font-size: 62.5%;
     /* 1rem = 10px */ 
     /* default 1rem = 16px 
        rem = root em */

}

.header{
     background: #e7f5ff;
     height: 10rem;
     padding: 0 4.8rem;

     display: flex;
     justify-content: space-between;
     align-items: center;
}

.logo{
     height: 5rem;
     width: 7rem;

}

.navbar-list{
     display: flex;
     gap: 4.8rem;
     list-style: none;
}

.navbar-link:link,  /* this are pseudo calsses*/
.navbar-link:visited{
     display: inline-block; /* for giving padding and margin */
     text-transform: uppercase;
     text-decoration: none;
     font-size: 2rem;
     font-weight: 500;
     color: #212529;
     transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active{
     color: #364fc7;
}

/*  =================================
HAMBURGER BUTTON
================================ */


.mobile-navbar-btn{
    display: none; 
    background: transparent;
    cursor: pointer;
     border: 3px solid black;
     border-radius: 1rem;
     z-index: 999;
}
.mobile-nav-icon{
     width: 5rem;
     height: 4rem;
     color: #212529;
}

.mobile-nav-icon[name="close-outline"]{
     display: none;
}




/* ================================
     Hero and Service section
===================================*/

.section-hero,
.section-service{
     padding: 9.6rem 0;
     background: #a5daff;
     height: 60vh;

     display: flex;
     justify-content: center;
     align-items: center;
}

.section-service{
     background-color: #f3f0ff;
}
.section-hero p,
.section-service p{
     font-size: 3rem;
}



/*  =================================
RESPONSIVE CODES
================================ */

/* 980PX
1EM = 16px
*/

@media (max-width:62em){
     .mobile-navbar-btn{
          display: block;
     }

     .navabar{
          position: absolute;
          top: 10rem;
          left: 0;
          right: 0;
          width: 100vw;
     }
}



